body {
	background: linear-gradient(-45deg, #f79d00, #64f38c);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.login_registration {
  position: relative;
  margin: 30px auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;

}

.login_registration:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.login_registration h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
}

.login_registration p {
  margin: 20px 0 0;
}

.login_registration p:first-child {
  margin-top: 0;
}

.login_registration input[type=text], .login_registration input[type=password] {
  width: 278px;
}

.login_registration p.submit {
  text-align: right;
}

.reg {
  text-align: left;
  margin-right: 100px;
  font-size: 12px;
}

input {
  font-family:  sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=text]:focus, input[type=password]:focus {
  border-color: #91e287;
  outline-color: #d6fcba;
  outline-offset: 0;
}

.submit {
  margin: 5px 0 0 ;
}

.form_radio_btn {
	display: inline-block;
	margin-left: 2px;
    margin-right: 15px;
    margin-top: 15px;
}

.form_radio_btn input[type=radio] {
	display: none;
}

.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}



.form_radio_btn input[type=radio]:checked + label {
	background: #ffe0a6;
}



.form_radio_btn label:hover {
	color: #666;
}





input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #505050;
  text-shadow: 0 1px #e3f1f1;
  background: #edd43c;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  box-sizing: content-box;
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

input[type=submit]:active {
  background: #edc643;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

